node-red.json
[{"id":"997ea65a.c4f308","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a40195a8.40c4c8","type":"ui_form","z":"997ea65a.c4f308","name":"","label":"","group":"b50c96f1.919768","order":1,"width":"0","height":"0","options":[{"label":"EnterName","value":"name","type":"text","required":true,"rows":null},{"label":"EnterEmail","value":"email","type":"email","required":true,"rows":null},{"label":"EnterPassword","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Create","cancel":"cancel","topic":"","x":90,"y":100,"wires":[["2695cd8.b3a8e32","64787db.e3dcc84"]]},{"id":"2695cd8.b3a8e32","type":"debug","z":"997ea65a.c4f308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":40,"wires":[]},{"id":"64787db.e3dcc84","type":"function","z":"997ea65a.c4f308","name":"","func":"msg.payload = {\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    email:msg.payload.email,\n    password:msg.payload.password\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":100,"wires":[["d78603d.65cbe"]]},{"id":"d78603d.65cbe","type":"cloudant out","z":"997ea65a.c4f308","name":"cloud","cloudant":"","database":"trying","service":"node-red-uqxvc-2020--cloudant-1597403182842-70009","payonly":true,"operation":"insert","x":490,"y":100,"wires":[]},{"id":"d7dae0fb.f5c3a","type":"ui_form","z":"997ea65a.c4f308","name":"","label":"","group":"910c0bee.0b7ad8","order":0,"width":0,"height":0,"options":[{"label":"EnterEmail","value":"email","type":"email","required":true,"rows":null},{"label":"EnterPassword","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":240,"wires":[["c2d16aa.ba06498"]]},{"id":"c2d16aa.ba06498","type":"function","z":"997ea65a.c4f308","name":"","func":"global.set('email',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":240,"wires":[["b2654dcc.d2e16"]]},{"id":"b2654dcc.d2e16","type":"function","z":"997ea65a.c4f308","name":"","func":"var email=global.get('email');\n\nmsg.payload=\"email:\"+email;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":240,"wires":[["2ec7958a.73274a"]]},{"id":"2ec7958a.73274a","type":"cloudant in","z":"997ea65a.c4f308","name":"","cloudant":"","database":"trying","service":"node-red-uqxvc-2020--cloudant-1597403182842-70009","search":"_idx_","design":"user","index":"user","x":770,"y":240,"wires":[["753e332f.122dbc"]]},{"id":"753e332f.122dbc","type":"function","z":"997ea65a.c4f308","name":"","func":"if(msg.payload[0].password===global.get('password') && msg.payload[0].email===global.get('email')){\n    msg.payload='Login Succesfull';\n}else{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":240,"wires":[["521c0314.ca155c"]]},{"id":"521c0314.ca155c","type":"ui_text","z":"997ea65a.c4f308","group":"910c0bee.0b7ad8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":240,"wires":[]},{"id":"4afdc512.7f63ec","type":"function","z":"997ea65a.c4f308","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":340,"wires":[["ecd27baf.654e18"]]},{"id":"adabc4a0.adb148","type":"debug","z":"997ea65a.c4f308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"7eb597be.4bedd8","type":"ui_form","z":"997ea65a.c4f308","name":"","label":"","group":"e9e50c35.fa503","order":0,"width":0,"height":0,"options":[{"label":"UserInput","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"Send","cancel":"cancel","topic":"","x":90,"y":340,"wires":[["4afdc512.7f63ec"]]},{"id":"ecd27baf.654e18","type":"watson-conversation-v1","z":"997ea65a.c4f308","name":"","workspaceid":"86d218ab-7710-4c99-8701-29ea4aa61758","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/232c8a79-68ca-42e3-9bcc-4a2e903cbda0","timeout":"","optout-learning":false,"x":540,"y":340,"wires":[["adabc4a0.adb148","4484d8d4.fe1078"]]},{"id":"4484d8d4.fe1078","type":"function","z":"997ea65a.c4f308","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":400,"wires":[["8cee2e18.8284a","13153e6c.249e42"]]},{"id":"8cee2e18.8284a","type":"ui_text","z":"997ea65a.c4f308","group":"e9e50c35.fa503","order":1,"width":"6","height":"4","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":360,"wires":[]},{"id":"13153e6c.249e42","type":"ui_audio","z":"997ea65a.c4f308","name":"","group":"e9e50c35.fa503","voice":"","always":"","x":950,"y":460,"wires":[]},{"id":"b50c96f1.919768","type":"ui_group","z":"","name":"Reg form","tab":"a7ec8a15.e6d2f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"910c0bee.0b7ad8","type":"ui_group","z":"","name":"LogIn","tab":"9480955d.5b0c28","order":1,"disp":true,"width":"6","collapse":false},{"id":"e9e50c35.fa503","type":"ui_group","z":"","name":"Bot","tab":"ac42d7b9.fc53c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a7ec8a15.e6d2f8","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"9480955d.5b0c28","type":"ui_tab","z":"","name":"LogIn Form","icon":"dashboard","disabled":false,"hidden":false},{"id":"ac42d7b9.fc53c8","type":"ui_tab","z":"","name":"Customer","icon":"dashboard","disabled":false,"hidden":false}]
